# Ignorar arquivos gerais do sistema operacional
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Ignorar arquivos de IDEs
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
.apt_generated/
.factorypath
.metadata/

# Arquivos de log e temporários
*.log
log/
tmp/
temp/
*.swp
*.bak
*.swo

# Arquivos de configurações de ambiente local (importante!)
.env
.env.*
*.properties.local
*.yaml.local

---

#  - Quarkus (Maven/Gradle)
target/
quarkus-app/
quarkus-run.jar
quarkus-app.jar
*.jar
*.war
*.ear
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
build/ # Para projetos Gradle
.gradle/ # Para projetos Gradle
native-image/ # Imagem nativa do GraalVM

# Arquivos específicos do Maven
/.mvn/wrapper/maven-wrapper.jar

# Arquivos específicos do Gradle
/gradle/wrapper/gradle-wrapper.jar


# *.img
# *.tar